streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
xgboost
missingno
openpyxl

# Tensorflow + Keras
tensorflow==2.15.0
keras

# باقي الباكدجات المهمة
spacy
opencv-python
scipy
h5py
protobuf<=3.20.3
mysql-connector-python

# أدوات مساعدة
pyasn1-modules
PyDispatcher
tensorboard
threadpoolctl
